.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

.sidebarContent {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly */
}

.logo {
  width: 50px; 
  height: auto; 
  margin-right: 10px; 
}

.signOut {
  font-size: 12px; 
  padding: 5px 10px; 
}